<%- include ../layouts/header.ejs %>
<body>
  <br>
  <div class="d-flex flex-row">
    <h1><%= title %></h1>
    <div>
      <a href="/books/create" class="btn btn-primary" type="button">Aregar libro</a>
      <a href="../" class="btn btn-secondary" type="button">Inicio</a>
    </div>
  </div>

  <br>
  <div class="container">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th>#ID</th>
          <th>Nombre</th>
          <th>Imagen</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% for( let book = 0; book < books.length; book++ ) { %>
          <tr>
            <td> <%= books[book].id %>  </td>
            <td> <%= books[book].name %> </td>
            <td> <img class="img-thumbnail" width="100" src="images/<%=books[book].image %>" alt=""> </td>
            <td>
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <form class="form-inline" method="get" action="books/edit/<%= books[book].id %> ">
                  <button class="btn btn-warning" type="submit">Editar</button>
                </form>
              </div>
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <form class="form-inline" method="post" action="books/delete/<%= books[book].id %> ">
                  <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
<%- include ../layouts/footer.ejs %>
