<%- include ../layouts/header.ejs %>
<body>
  <br>
  <br>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2><%= title %> "<%= book.name %>"</h2>
      </div>
      <div class="card-body">
        <!-- El atributo enctype sirve para poder adjuntar la imagen -->
        <form method="post" action="../update/<%= book.id %>" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input id="name" value="<%= book.name %> " class="form-control" type="text" name="name" placeholder="Actualizar nombre">
          </div>
          <br>
          <div class="custom-file">
            <label for="image" class="custom-file-label">Imagen</label>
            <img class="img-thumbnail" src="/images/<%= book.image %>" width="100" alt="">
            <input id="image" class="custom-file-input" type="file" name="image">
          </div>
          <br>
          <div class="form-group">
            <label for="idAuthor">Autor</label>
            <select id="idAuthor" class="custom-select" name="idAuthor">
              <% for( let author = 0; author < authors.length; author++ ) { %>
                <option value="<%= authors[author].id %>"> <%= authors[author].name %></option>
              <% } %>
            </select>
          </div>
          <br>
          <button class="btn btn-primary" type="submit">Actualizar</button>
          <a href="/books" class="btn btn-danger" type="button">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ../layouts/footer.ejs %>
